src/main/resources/xsd/lexml-base.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:mathml="http://www.w3.org/1998/Math/MathML"
	elementFormDefault="qualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="https://www.w3.org/Math/XMLSchema/mathml2/common/xlink-href.xsd" />
    <xsd:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="https://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd"/>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================
		O esquema do projeto LexML Brasil é uma adaptação dos schemas
			Akoma Ntoso (1.0) (http://www.akomantoso.org/)
		e
			Norme in Rete (2.0) (http://www.nir.it)
		para a técnica legisativa brasileira. Esses esquemas foram
		originalmente criados por Fabio Vitali  ( Universidade of Bolonha )
		com a supervisão (Direito) de Monica Palmirani ( Universidade de Bolonha ).

		Adaptado   por João Alberto de Oliveira Lima (Senado Federal - joaolima@senado.gov.br)
		e revisado por Fernando Ciciliati (Interlegis - ciciliati@interlegis.gov.br)
        e Marcos Fragomeni (Senado Federal))

		O presente esquema usa XML design patterns de forma sistemática, tal como
		descrito em  http://www.xmlpatterns.com/
		Alguns deles são mencionados explicitamente, quando o seu uso
		não é suficientemente claro ou natural. Outros são usados sem nenhuma
			referência.

			Versão 4.0.0 - Agosto/22 - Remoção de elemento Assinaturas. Simplificação de "choices" em ParteFinal e em
									 AssinaturaGrupo
			Versão 1.8 - Abril/22 - Acréscimo de suporte de AssinaturaTexto em elementos AssinaturaGrupo, ajuste de
			                        cardinalidade dos elementos Assinatura em AssinaturaGrup e Assinaturas.
					    Versão 1.7 - maio/20 - Acréscimo de Subtítulo

                        Versão 1.6 - maio/19 - Acréscimo de Assinatura em formato livre (AssinaturaTexto)
                                               FormulaPromulgacao, LocalDataFecho, Observacao - deixa de ser texto simples para permitir múltiplos parágrafos 
                        
                        Versao 1.5 - setembro/11 - novo elemento TituloDispositivo. Sai TituloArtigo.
                                                 - Omissis pode ser filho de agrupadores de artigo em Alteracao.
                                                 - Ajustes no id do Omissis
                                                 - Correção nos id's para aceitar 'u' como indicador de dispositivo único.
                                                 - Epigrafe, Ementa e TituloDispositivo não têm p
                                                 - Não são mais aceitos tags html diretamente dentro de Alteracao.

                        Versao 1.4 - agosto/11 - troca dos elementos AbreAspas, FechaAspas e NotaAlteracao pelos atributos abreAspas, fechaAspas e notaAlteracao
                                               - utilização do atributo URN no elemento Identificacao, removendo demais atributos e sub-elementos
                                               - remoção do elemento Contexto com elementos FRBR do Metadado
                                               - criação do atributo id no elemento Omissis
                                               - criação do atributo textoOmitido
                                               - remoção do atributo seqOrdem
                                               - ajustes na regra de validação dos id's (nos schemas lexml-br-rigido.xsd e lexml-flexivel.xsd)
                                               - possibilidade de Epigrafe, Ementa e Preambulo dentro de Alteracao (e ajustes de ID)
                                               - possibilidade de Alinea dentro de Caput e de Paragrafo quando em Alteracao
                                               - utilização dos atributos abreAspas, fechaAspas e notaAlteracao apenas em dispositivos dentro de Alteracao
                                               - id da Pena passa a ser obrigatório

                        Versao 1.3 - novembro/10 - inclusao da tag FormulaPromulgacao (para atender Decreto Legislativo)
                                                   ajuste na Tag Alteracao

                        Versão 1.2 - setembro/10 - remoção do elemento AspasEstrutura e AspasTexto e criação de atributos para aspas e notaAlteração
                                                 - alteração no conteúdo do Elemento Omissis

                        Versão 1.1 - agosto/10 - remoção do targetNamespace para permitir utilizar o esquema como
                                                 camaleão (Chameleon schema).
                                               - referência ao MathML e xlink externos em www.w3.org.
                                               - criação de elementos abstratos com prefixo "_".
                                               - definição de idArtigo e DispositivoType para posterior redefinição
                                                 em sub-esquemas.
                                               - as alterações feitas nesta versão permitem que o esquema seja
                                                 validado sozinho.

                        Versão 1.0 - dezembro/08 - exclusão dos elementos Texto e TextoSimples

                        Versão 0.7 - agosto/08 - ajuste no patterns de ids de dispositivos para trocar o complemento alfa para num
                                                             - inclusão do elemento inline Formula com conteúdo MathML.

                        Versão 0.6 - abril/08 - alteração nos ids das subdivisões de artigo retirando o 'alt' e incluindo o
		                                        prefixo do dispositivo pai.
		                                      - inclusão do elemento Pena após o Texto dos dispostivos de artigo.
		                                      - alteração de nome da tag "Justificativa" para "Justificacao
		                                      - inclusão do elemento EmConformidadeCom
		                                      - inclusão de elemento Apelido no nível ObraIndividual
		                                        e ObraIndividualComplementar

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Principais Grupos de Elementos
			- LexML (Hierarchy, Inline, Marker)
			- HTML (Container, Block, Inline, Marker)
			- LexML + HTML + generic elements

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:group name="LXhier">
		<xsd:choice>
			<xsd:element ref="_Parte"/>
			<xsd:element ref="_Livro"/>
			<xsd:element ref="_Titulo"/>
			<xsd:element ref="_Subtitulo"/>
			<xsd:element ref="_Capitulo"/>
			<xsd:element ref="_Secao"/>
			<xsd:element ref="_Artigo"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="LXhierCompleto">
		<xsd:choice>
			<xsd:group ref="LXhier"/>
			<xsd:element ref="_Subsecao"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="LXcontainers">
		<xsd:choice>
			<xsd:element ref="_Caput"/>
			<xsd:element ref="_Paragrafo"/>
			<xsd:element ref="_Inciso"/>
			<xsd:element ref="_Alinea"/>
			<xsd:element ref="_Item"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="LXinline">
		<xsd:choice>
			<xsd:element ref="Remissao"/>
			<xsd:element ref="RemissaoMultipla"/>
            <!-- TODO: O elemento alteração não derveria ser usado como elemento inline,
               ao invés disso, deve-se especificar outro elemento, ex. "AlteracaoInline",
               cujo conteúdo seja também inline. -->
			<xsd:element ref="Alteracao"/>
		    <xsd:element ref="Formula"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="LXmarker">
		<xsd:choice>
			<xsd:element ref="NotaReferenciada"/>
		</xsd:choice>
	</xsd:group>


	<xsd:group name="HTMLcontainers">
		<xsd:sequence>
			<xsd:element ref="div"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="HTMLblock">
		<xsd:choice>
			<xsd:element ref="p"/>
			<xsd:element ref="ul"/>
			<xsd:element ref="ol"/>
			<xsd:element ref="table"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="HTMLinline">
		<xsd:choice>
			<xsd:element ref="span"/>
			<xsd:element ref="b"/>
			<xsd:element ref="i"/>
			<xsd:element ref="a"/>
			<xsd:element ref="sub"/>
			<xsd:element ref="sup"/>
			<xsd:element ref="ins"/>
			<xsd:element ref="del"/>
			<xsd:element ref="dfn"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="HTMLmarker">
		<xsd:sequence>
			<xsd:element ref="img"/>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="hierElements">
		<xsd:choice>
			<xsd:group ref="LXhier" />
			<xsd:element ref="AgrupamentoHierarquico"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="hierElementsCompleto">
		<xsd:choice>
			<xsd:group ref="LXhierCompleto" />
			<xsd:element ref="AgrupamentoHierarquico"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="containerElements">
		<xsd:choice>
			<xsd:group ref="HTMLcontainers" />
			<xsd:element ref="Agrupamento"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="parteInicialElements">
		<xsd:choice>
            <xsd:element ref="FormulaPromulgacao"/>
            <xsd:element ref="Epigrafe"/>
            <xsd:element ref="Ementa"/>
            <xsd:element ref="Preambulo"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="blockElements">
		<xsd:choice>
			<xsd:group ref="HTMLblock" />
			<xsd:element ref="ConteudoExterno"/>
			<xsd:element ref="Bloco"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="inlineElements">
		<xsd:choice>
			<xsd:group ref="LXinline" />
			<xsd:group ref="HTMLinline" />
			<xsd:element ref="EmLinha"/>
		</xsd:choice>
	</xsd:group>

	<xsd:group name="markerElements">
		<xsd:choice>
			<xsd:group ref="LXmarker" />
			<xsd:group ref="HTMLmarker" />
			<xsd:element ref="Marcador"/>
		</xsd:choice>
	</xsd:group>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Grupos de Atributos

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:attributeGroup name="nome">
		<xsd:attribute name="nome" type="xsd:string" use="required"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="source">
		<xsd:attribute name="fonte"  use="required" type="xsd:anyURI"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="date">
		<xsd:attribute name="data" type="xsd:date" use="required"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="link">
	                      <xsd:attribute ref="xlink:href" use="required"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="linkID">
	                      <xsd:attribute name="nota" type="xsd:IDREF" use="required"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="linkURN">
	                      <xsd:attribute name="URN" type="xsd:anyURI" use="required"/>
	                      <xsd:attribute name="showAs" type="xsd:string"/>
	</xsd:attributeGroup>

                      <xsd:attributeGroup name="linkopt">
	                      <xsd:attribute ref="xlink:href"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="optvalue">
		<xsd:attribute name="value" type="xsd:string"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="period">
		<xsd:attribute name="eventoInicial" type="xsd:anyURI"/>
		<xsd:attribute name="eventoFinal" type="xsd:anyURI"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="enactment">
		<xsd:attributeGroup ref="period"/>
		<xsd:attribute name="situacao" type="TipoSituacao"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="cellattrs">
		<xsd:attribute name="rowspan" type="xsd:integer" default="1" />
		<xsd:attribute name="colspan" type="xsd:integer" default="1" />
	</xsd:attributeGroup>

	<xsd:attributeGroup name="HTMLattrs">
		<xsd:attribute name="class" type="xsd:string"/>
		<xsd:attribute name="style" type="xsd:string"/>
		<xsd:attribute name="title" type="xsd:string"/>
	                      <xsd:attribute ref="xml:lang" default="pt-BR"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="HTMLname">
		<xsd:attribute name="name" type="xsd:string"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="idreq">
		<xsd:attribute name="id"   use="required" type="xsd:ID"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="idreqArt">
		<xsd:attribute name="id"   use="required" type="idArtigo"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="idopt">
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="corereq">
		<xsd:attributeGroup ref="HTMLattrs"/>
		<xsd:attributeGroup ref="enactment"/>
		<xsd:attributeGroup ref="idreq"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="coreopt">
		<xsd:attributeGroup ref="HTMLattrs"/>
		<xsd:attributeGroup ref="enactment"/>
		<xsd:attributeGroup ref="idopt"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="corereqArt">
		<xsd:attributeGroup ref="HTMLattrs"/>
		<xsd:attributeGroup ref="enactment"/>
		<xsd:attributeGroup ref="idreqArt"/>
        <xsd:attribute name="textoOmitido" type="TipoMarcador"/>
	</xsd:attributeGroup>

	<xsd:attributeGroup name="attrsCitacao">
		<xsd:attribute name="abreAspas" type="TipoMarcador"/>
		<xsd:attribute name="fechaAspas" type="TipoMarcador"/>
		<xsd:attribute name="notaAlteracao" type="xsd:string"/>
	</xsd:attributeGroup>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Tipos Simples

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>


	<xsd:simpleType name="TipoSituacao">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="omissis" />
			<xsd:enumeration value="revogado" />
			<xsd:enumeration value="suspenso" />
			<xsd:enumeration value="vetado"/>
			<xsd:enumeration value="superado" />
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="TipoMarcador">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="s" />
        </xsd:restriction>
    </xsd:simpleType>


	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Tipos Complexos

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="hierarchy" >
		<xsd:sequence>
			<xsd:element ref="Rotulo" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="NomeAgrupador" minOccurs="0" maxOccurs="1" />
			<xsd:sequence>
				<xsd:element ref="AgrupamentoHierarquico" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:sequence>
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

	<xsd:complexType name="blocksreq" >
		<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
			<xsd:group ref="blockElements" />
		</xsd:sequence>
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

	<xsd:complexType name="blocksopt">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
			<xsd:group ref="blockElements" />
		</xsd:sequence>
		<xsd:attributeGroup ref="coreopt"/>
	</xsd:complexType>

	<xsd:complexType name="inline" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded" >
			<xsd:group ref="inlineElements" />
			<xsd:group ref="markerElements" />
		</xsd:choice>
		<xsd:attributeGroup ref="coreopt"/>
	</xsd:complexType>

	<xsd:complexType name="inlineReq" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded" >
			<xsd:group ref="inlineElements" />
			<xsd:group ref="markerElements" />
		</xsd:choice>
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

	<xsd:complexType name="markerreq" >
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

	<xsd:complexType name="markeropt" >
		<xsd:attributeGroup ref="coreopt"/>
	</xsd:complexType>

	<xsd:complexType name="anyOther"  >
		<xsd:choice>
			<xsd:any  namespace="##other"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="participaType" >
		<xsd:sequence>
			<xsd:element ref="Rotulo" minOccurs="1" maxOccurs="1" />
			<xsd:element ref="Tratamento" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="NomeAgente" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="textoType">
		<xsd:sequence>
			<xsd:element ref="p" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

	<xsd:complexType name="textoSimplesType">
		<xsd:sequence>
			<xsd:element ref="p" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup ref="corereq"/>
	</xsd:complexType>

                        <xsd:complexType name="textoSimplesOptType">
                                          <xsd:sequence>
                                                            <xsd:element ref="p" minOccurs="0" maxOccurs="1" />
                                          </xsd:sequence>
                                          <xsd:attributeGroup ref="coreopt"/>
                        </xsd:complexType>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Elemento Raiz
		Comentário Um elemento genérico raiz contendo todos os tipos de documentos
		Pattern: Universal Root
		Referência: http://www.xmlpatterns.com/UniversalRootMain.shtml

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="DocumentTypes" >
		<xsd:sequence >
			<xsd:element ref="Metadado" />
			<xsd:choice >
				<xsd:element ref="Norma" />
				<xsd:element ref="ProjetoNorma" />
				<xsd:element ref="Jurisprudencia" />
				<xsd:element ref="DocumentoGenerico" />
				<xsd:element ref="Anexo" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="LexML" type="DocumentTypes" />

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Tipos de Documento
		Comentário: Todos os tipos de documentos compartinham dois modelos de conteúdo (Hierárquico, Aberto)
		Pattern: Consistent Element Set
		Referência: http://www.xmlpatterns.com/ConsistentElementSetMain.shtml

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="HierarchicalStructure" >
		<xsd:sequence >
			<xsd:element ref="ParteInicial" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="Articulacao" />
			<xsd:element ref="ParteFinal" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="Anexos" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	                      <xsd:attribute ref="xml:lang"/>
	</xsd:complexType>

	<xsd:complexType name="OpenStructure" >
		<xsd:sequence >
			<xsd:element ref="PartePrincipal" minOccurs="0" maxOccurs="1" />
			<xsd:element ref="Anexos" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attributeGroup  ref="coreopt"/>
	</xsd:complexType>

                        <xsd:element name="Norma" type="HierarchicalStructure"/>

	<xsd:element name="ProjetoNorma">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Norma"/>
				<xsd:element name="Justificacao" type="OpenStructure" minOccurs="0" maxOccurs="unbounded" />
				<xsd:element name="AutorProjeto" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



	<xsd:element name="Jurisprudencia">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element ref="Sumula"/>
				<xsd:element ref="Acordao"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocumentoGenerico" type="OpenStructure" />

                      <xsd:element name="Anexo">
		<xsd:complexType>
			<xsd:choice>
				<xsd:element name="DocumentoArticulado" type="HierarchicalStructure"/>
				<xsd:element ref="DocumentoGenerico"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>


	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		LX common containers elements

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

                     <!-- Articulação (Normas e Projetos de Normas) -->

	<xsd:element name="ParteInicial" >
		<xsd:complexType >
			<xsd:sequence>
                <xsd:element ref="FormulaPromulgacao" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="Epigrafe" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="Ementa" minOccurs="0" maxOccurs="1" />
				<xsd:element ref="Preambulo" minOccurs="0" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ParteFinal" >
		<xsd:complexType >
			<xsd:sequence>
				<xsd:element ref="LocalDataFecho" minOccurs="0" maxOccurs="1" />
				<xsd:choice name="ParteFinalAssinatura" minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="AssinaturaGrupo"/>
					<xsd:element ref="Assinatura"/>
					<xsd:element ref="AssinaturaTexto"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>



    <xsd:element name="FormulaPromulgacao" type="parsType"/>    	

	<xsd:element name="Epigrafe" type="inlineReq"/>

	<xsd:element name="Ementa" type="inlineReq"/>

	<xsd:element name="LocalDataFecho" type="parsType"/>

	<xsd:element name="Observacao" type="parsType"/>

	<xsd:element name="Preambulo" type="textoType"/>

	<xsd:element name="AssinaturaGrupo">
		<xsd:complexType >
			<xsd:sequence>
				<xsd:element name="NomeGrupo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="Assinatura"/>
					<xsd:element ref="AssinaturaTexto"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Assinatura">
		<xsd:complexType >
			<xsd:sequence >
				<xsd:element ref="NomePessoa" minOccurs="1" maxOccurs="unbounded" />
				<xsd:element ref="Cargo" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="AssinaturaTexto" type="parsType"/>
		
	<xsd:element name="NomePessoa" type="xsd:string"/>

	<xsd:element name="Cargo" type="xsd:string"/>

                        <xsd:element name="ReferenciaAnexo" type="refURN" />

                        <xsd:element name="Anexos">
		<xsd:complexType >
			<xsd:sequence >
				<xsd:element ref="ReferenciaAnexo" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attributeGroup ref="coreopt"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Articulacao">
		<xsd:complexType >
			<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
				<xsd:group ref="hierElements" />
			</xsd:sequence>
			<xsd:attributeGroup ref="coreopt"/>
		</xsd:complexType>
	</xsd:element>

	<!--- Jurisprudencia ( elementos específicos) -->

                      <xsd:element name="Tratamento" type="xsd:string"/>

                      <xsd:element name="NomeAgente" type="xsd:string"/>

                      <xsd:element name="Sumula">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Epigrafe" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="Ementa" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="Observacao" minOccurs="0" maxOccurs="1"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="coreopt"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Acordao">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="CabecalhoAcordao" minOccurs="1" maxOccurs="1"/>
			 	<xsd:element name="EmentaTexto" type="OpenStructure" minOccurs="1" maxOccurs="1"/>
			 	<xsd:element name="AcordaoTexto" type="OpenStructure" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="RelatorioTexto" type="OpenStructure" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="VotoTexto" type="OpenStructure" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="DebateTexto" type="OpenStructure" minOccurs="0" maxOccurs="1"/>
				<xsd:element name="ExtratoAtaTexto" type="OpenStructure" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="CabecalhoAcordao">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Epigrafe" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="DataJulgamento" type="xsd:date" minOccurs="1" maxOccurs="1"/>
				<xsd:element name="OrgaoJulgador" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="Relator" minOccurs="1" maxOccurs="1"/>
				<xsd:element ref="PartesProcesso" minOccurs="2" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Relator" type="participaType"/>

	<xsd:element name="PartesProcesso">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ParteProcesso" type="participaType" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element name="AdvogadosParte" type="participaType" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

                                <!-- Open Structure -->

                                <xsd:element name="PartePrincipal">
                                        <xsd:complexType >
                                                <xsd:choice minOccurs="1" maxOccurs="unbounded" >
                                                        <xsd:element ref="AgrupamentoHierarquico" />
                                                        <xsd:group ref="containerElements"/>
                                                        <xsd:group ref="blockElements" />
                                                </xsd:choice>
                                                <xsd:attributeGroup ref="coreopt"/>
                                        </xsd:complexType>
                                </xsd:element>

	<xsd:element name="DispositivoGenerico">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DispositivoType">
					<xsd:attributeGroup ref="nome"/>
					<xsd:attributeGroup ref="attrsCitacao"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

    <xsd:complexType name="PenaType">
        <xsd:sequence >
            <xsd:element ref="Rotulo" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="p" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="DispositivoGenerico" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="corereq"/>
        <xsd:attributeGroup ref="linkopt"/>
    </xsd:complexType>

	<xsd:element name="Pena" type="PenaType"/>

	<xsd:element name="TituloDispositivo" type="inline" />

	<xsd:element name="Rotulo" type="xsd:string" />

	<xsd:element name="NomeAgrupador" type="inline" />

	<xsd:element name="Texto" type="blocksopt"/>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		LX elementos inline

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="Remissao">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="link"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="RemissaoMultipla">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attribute ref="xml:base" use="required"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="NotaReferenciada">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="markeropt">
					<xsd:attributeGroup ref="linkID"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
    
	<xsd:element name="Alteracao" type="AlteracaoType"/>

    <xsd:complexType name="AlteracaoType">
        <xsd:attribute ref="xml:base"/>
        <xsd:attributeGroup ref="corereq"/>
    </xsd:complexType>

	<xsd:element name="Omissis">
        <xsd:complexType>
            <xsd:attribute name="id" use="required" type="idOmissis"/>
            <xsd:attributeGroup ref="attrsCitacao"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Formula">
       <xsd:complexType>
          <xsd:sequence minOccurs="0" maxOccurs="1">
             <xsd:element ref="mathml:math" />
          </xsd:sequence>
          <xsd:attribute name="fonte" type="xsd:string"/>
          <xsd:attribute name="tipo" type="xsd:string"/>
       </xsd:complexType>
    </xsd:element>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Elementos Genéricos

		Comentário: Cada elementos deste esquema correspode a um dos cinco modelos
		de conteúdo: Hierarchy, Container, Block, Inline e Mark. Além destes elementos,
		o esquema provê um elemento genérico para cada um dos modelos. Estes elementos
		genéricos podem ser utilizados para atender necessidades específicas ou situações não previstas
		no modelo original. O atributo nome do elemento genérico será uma indicação do seu significado.

		Pattern: Generic Document + Role Attribute
		Referência: http://www.xmlpatterns.com/GenericDocumentMain.shtml +
		http://www.xmlpatterns.com/RoleAttributeMain.shtml

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="AgrupamentoHierarquico">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="hierarchy">
					<xsd:sequence>
						<xsd:group ref="LXhierCompleto" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Agrupamento">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="blocksreq">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Bloco">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="EmLinha">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Marcador">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="markerreq">
					<xsd:attributeGroup ref="nome"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ConteudoExterno"  type="anyOther" />

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		HTML elements
		Comment: Many elements are drawn directly from HTML 4.0
		Pattern: Reuse Document Types (partial)
		Reference: http://www.xmlpatterns.com/ReuseDocumentTypesMain.shtml

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:element name="div" type="blocksreq" />

	<xsd:element name="p" type="inline" />

	<xsd:element name="li">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:choice minOccurs="0" maxOccurs="unbounded" >
						<xsd:element ref="ul" />
						<xsd:element ref="ol" />
						<xsd:element ref="p"/>
					</xsd:choice>
					<xsd:attributeGroup ref="optvalue"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!--  <xsd:element name="span" type="inline"/> -->
	<xsd:element name="span">
	<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="link"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="b" type="inline" />

	<xsd:element name="i" type="inline" />

	<xsd:element name="sub" type="inline" />

	<xsd:element name="sup" type="inline" />

	<xsd:element name="ins" type="inline" />

	<xsd:element name="del" type="inline" />

	<xsd:element name="dfn" type="inline" />

	<xsd:element name="a">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="link"/>
					<xsd:attributeGroup ref="HTMLname"/>
					<xsd:attribute name="target" type="xsd:string"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="img">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="markeropt">
					<xsd:attribute name="src" type="xsd:anyURI" use="required"/>
					<xsd:attribute name="alt" type="xsd:string"/>
					<xsd:attribute name="width" type="xsd:integer"/>
					<xsd:attribute name="height" type="xsd:integer"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ul">
		<xsd:complexType >
			<xsd:sequence >
				<xsd:element ref="li" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ol">
		<xsd:complexType >
			<xsd:sequence >
				<xsd:element ref="li" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="table">
		<xsd:complexType >
			<xsd:sequence >
				<xsd:element ref="tr" minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attributeGroup ref="HTMLattrs"/>
			<xsd:attribute name="width" type="xsd:integer"/>
			<xsd:attribute name="border" type="xsd:integer"/>
			<xsd:attribute name="cellspacing" type="xsd:integer"/>
			<xsd:attribute name="cellpadding" type="xsd:integer"/>
			<xsd:attributeGroup ref="idreq"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tr">
		<xsd:complexType >
			<xsd:choice minOccurs="1" maxOccurs="unbounded" >
				<xsd:element ref="th" />
				<xsd:element ref="td" />
			</xsd:choice>
				<xsd:attributeGroup ref="HTMLattrs"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="th">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="cellattrs"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="td">
		<xsd:complexType mixed="true">
			<xsd:complexContent>
				<xsd:extension base="inline">
					<xsd:attributeGroup ref="cellattrs"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:annotation>
		<xsd:documentation>
		 =====================================================================

		Metadados

		=====================================================================
		</xsd:documentation>
	</xsd:annotation>

	<xsd:complexType name="MetaSection" >
		<xsd:sequence >
			<xsd:element ref="Identificacao" />
			<xsd:element ref="CicloDeVida" minOccurs="0" maxOccurs="1" />
		    <xsd:element ref="EventosGerados" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="Notas" minOccurs="0" maxOccurs="unbounded" />
		    <xsd:element ref="Recursos" minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="MetadadoProprietario" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

    <xsd:element name="Metadado" type="MetaSection" />

	<xsd:complexType name="IdentificacaoType" >
        <xsd:attribute name="URN" type="xsd:anyURI" use="required"/>
	</xsd:complexType>

    <xsd:element name="Identificacao" type="IdentificacaoType"/>

	<xsd:element name="CicloDeVida">
		<xsd:complexType >
			<xsd:sequence>
				<xsd:element ref="Evento" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="EventosGerados">
		<xsd:complexType >
			<xsd:sequence>
				<xsd:element ref="Evento" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

    <xsd:element name="Evento">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="markerreq">
				          <xsd:choice minOccurs="1" maxOccurs="unbounded">
				                <xsd:element ref="Criacao"/>
				                <xsd:element ref="Publicacao"/>
				                <xsd:element ref="EntradaEmVigor"/>
				                <xsd:element ref="Retificacao"/>
				                <xsd:element ref="Republicacao"/>
				                <xsd:element ref="RevogacaoTotal"/>
				                <xsd:element ref="AnulamentoTotal"/>
				                <xsd:element ref="AlteracaoFragmento"/>
				                <!-- AlteraçãoFragmento inclui modificação (Substituicao Textual), Revogacao Parcial,
				                      Anulamento Parcial e Derrubada de Veto Parcial
-->
				          </xsd:choice>
				<xsd:attributeGroup ref="date"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

    <xsd:complexType name="refURN" >
		<xsd:attributeGroup ref="coreopt"/>
		<xsd:attribute name="AlvoURN" type="xsd:anyURI"/>
		<xsd:attribute name="FonteURN" type="xsd:anyURI"/>
	</xsd:complexType>

      	<xsd:complexType name="refURNSimples" >
		<xsd:attributeGroup ref="coreopt"/>
		<xsd:attribute name="URN" type="xsd:anyURI"/>
	</xsd:complexType>

                      <xsd:element name="Publicacao" type="refURN" />

                      <xsd:element name="EntradaEmVigor" type="refURN"/>

	<xsd:element name="Republicacao" type="refURN" />

	<xsd:element name="Retificacao" type="refURN" />

	<xsd:element name="ProjetoNormaOrigem" type="refURN" />

	<xsd:element name="JulgadoOrigemAnulacao" type="refURN" />

                      <xsd:element name="NormaFonte" type="refURN"/>

                      <xsd:element name="MensagemVetoAplicado" type="refURN" />

                       <xsd:element name="RevogacaoTotal" type="refURN"/>

                       <xsd:element name="AnulamentoTotal" type="refURN"/>

	<xsd:element name="Criacao">
	      <xsd:complexType>
	            <xsd:sequence>
	                  <xsd:element ref="ProjetoNormaOrigem" minOccurs="0" maxOccurs="unbounded"/>
	                  <xsd:element ref="JulgadoOrigemAnulacao" minOccurs="0" maxOccurs="unbounded"/>
	                  <xsd:element ref="MensagemVetoAplicado" minOccurs="0" maxOccurs="unbounded"/>
	            </xsd:sequence>
	      </xsd:complexType>
	</xsd:element>

    <xsd:complexType name="refURNAlvo" >
		<xsd:attributeGroup ref="coreopt"/>
		<xsd:attribute name="FonteURN" type="xsd:anyURI"/>
      	<xsd:attribute name="AlvoURN"  type="xsd:anyURI"/>
		<xsd:attribute name="AlvoLocal" type="xsd:IDREFS"/>
      	<xsd:attribute name="FonteLocal" type="xsd:IDREFS"/>
	</xsd:complexType>

      	<xsd:complexType name="URNtype" >
		<xsd:attributeGroup ref="coreopt"/>
		<xsd:attribute name="URN" type="xsd:anyURI"/>
	</xsd:complexType>

                      <xsd:element name="AlteracaoFragmento">
                             <xsd:complexType>
                                   <xsd:sequence>
                                         <xsd:element ref="ModificacaoTextual" minOccurs="0" maxOccurs="unbounded"/>
                                         <xsd:element ref="RevogacaoParcial" minOccurs="0" maxOccurs="unbounded"/>
                                         <xsd:element ref="AnulamentoParcial" minOccurs="0" maxOccurs="unbounded"/>
                                         <xsd:element ref="DerrubadaVetoParcial" minOccurs="0" maxOccurs="unbounded"/>
                                   </xsd:sequence>
                             </xsd:complexType>
                       </xsd:element>

                       <xsd:element name="ModificacaoTextual" type="refURNAlvo"/>
                       <xsd:element name="RevogacaoParcial" type="refURNAlvo"/>
                       <xsd:element name="AnulamentoParcial" type="refURNAlvo"/>
                       <xsd:element name="DerrubadaVetoParcial" type="refURNAlvo"/>


<xsd:complexType name="parsType">
        <xsd:sequence>
            <xsd:element ref="p" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>        
    </xsd:complexType>

	<xsd:element name="Notas">
		<xsd:complexType >
			<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
				<xsd:element ref="Nota" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Nota">
	      <xsd:complexType>
	            <xsd:complexContent>
	                  <xsd:extension base="textoType">
	                        <xsd:attribute name="exporta" type="xsd:boolean"/>
	                        <xsd:attribute name="dataInclusao" type="xsd:date"/>
	                        <xsd:attribute name="autor" type="xsd:IDREF"/>
	                  </xsd:extension>
	            </xsd:complexContent>
	      </xsd:complexType>
	</xsd:element>

	<xsd:element name="Recursos">
		<xsd:complexType >
			<xsd:sequence minOccurs="1" maxOccurs="unbounded" >
				<xsd:element ref="Recurso" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="Recurso" type="markerreq" />

	<xsd:element name="MetadadoProprietario">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="xsd:anyType">
					<xsd:attributeGroup ref="source"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

    <xsd:annotation>
        <xsd:documentation>
         =====================================================================

        Elementos e tipos abstratos

        =====================================================================
        </xsd:documentation>
    </xsd:annotation>

    <xsd:element name="_Parte" abstract="true"/>
    <xsd:element name="_Livro" abstract="true"/>
    <xsd:element name="_Titulo" abstract="true"/>
    <xsd:element name="_Subtitulo" abstract="true"/>
    <xsd:element name="_Capitulo" abstract="true"/>
    <xsd:element name="_Secao" abstract="true"/>
    <xsd:element name="_Subsecao" abstract="true"/>
    <xsd:element name="_Artigo" abstract="true"/>
    <xsd:element name="_Caput" abstract="true"/>
    <xsd:element name="_Paragrafo" abstract="true"/>
    <xsd:element name="_Inciso" abstract="true"/>
    <xsd:element name="_Alinea" abstract="true"/>
    <xsd:element name="_Item" abstract="true"/>

    <xsd:simpleType name="idArtigo">
        <xsd:restriction base="xsd:ID"/>
    </xsd:simpleType>

    <xsd:simpleType name="idOmissis">
        <xsd:restriction base="xsd:ID"/>
    </xsd:simpleType>

    <xsd:complexType name="DispositivoType"/>

    <xsd:annotation>
        <xsd:documentation>
         =====================================================================

        End of Schema

        =====================================================================
        </xsd:documentation>
    </xsd:annotation>

</xsd:schema>
