src/main/resources/xsd/lexml-br-rigido.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema targetNamespace="http://www.lexml.gov.br/1.0" xmlns="http://www.lexml.gov.br/1.0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd" />
  <xsd:redefine schemaLocation="lexml-base.xsd">
    <xsd:simpleType name="idArtigo">
      <xsd:annotation>
        <xsd:documentation>A regras abaixo tratam dos IDs de dispositivos no nível de artigo para baixo.</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="idArtigo">
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)((_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_(inc|dpg)\d+(-[0-9]{1,3}){0,3}(_(ali|dpg)\d+(-[0-9]{1,3}){0,3}(_(ite|dpg)\d+(-[0-9]{1,3}){0,3})?)?)?)?"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+(_art(\d+(-[0-9]{1,3}){0,3}|1u)((_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_(inc|dpg)\d+(-[0-9]{1,3}){0,3})?(_(ali|dpg)\d+(-[0-9]{1,3}){0,3}(_(ite|dpg)\d+(-[0-9]{1,3}){0,3})?)?)?)?"></xsd:pattern>
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="idOmissis">
      <xsd:restriction base="idOmissis">
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+(_art(\d+(-[0-9]{1,3}){0,3}|1u)((_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_(inc|dpg)\d+(-[0-9]{1,3}){0,3}(_(ali|dpg)\d+(-[0-9]{1,3}){0,3}(_(ite|dpg)\d+(-[0-9]{1,3}){0,3})?)?)?)?)?_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_(prt|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_((prt|agh)\d+(-[0-9]{1,3}){0,3}_)?(liv|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_(((prt|agh)\d+(-[0-9]{1,3}){0,3}_)?(liv|agh)\d+(-[0-9]{1,3}){0,3}_)?(tit|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_((((prt|agh)\d+(-[0-9]{1,3}){0,3}_)?(liv|agh)\d+(-[0-9]{1,3}){0,3}_)?(tit|agh)\d+(-[0-9]{1,3}){0,3}_)?(cap|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_(((((prt|agh)\d+(-[0-9]{1,3}){0,3}_)?(liv|agh)\d+(-[0-9]{1,3}){0,3}_)?(tit|agh)\d+(-[0-9]{1,3}){0,3}_)?(cap|agh)\d+(-[0-9]{1,3}){0,3}_)?(sec|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
        <xsd:pattern value="art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_(((((prt|agh)\d+(-[0-9]{1,3}){0,3}_)?(liv|agh)\d+(-[0-9]{1,3}){0,3}_)?(tit|agh)\d+(-[0-9]{1,3}){0,3}_)?(cap|agh)\d+(-[0-9]{1,3}){0,3}_)?(sec|agh)\d+(-[0-9]{1,3}){0,3}_(sub|agh)\d+(-[0-9]{1,3}){0,3}_omi\d+"></xsd:pattern>
      </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="DispositivoType">
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="TituloDispositivo" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Rotulo" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="p" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Alteracao" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="DispositivoGenerico" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
          <xsd:attributeGroup ref="corereqArt" />
          <xsd:attributeGroup ref="linkopt" />
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AlteracaoType" mixed="true">
      <xsd:complexContent>
        <xsd:extension base="AlteracaoType">
          <xsd:choice minOccurs="1" maxOccurs="unbounded">
            <xsd:group ref="parteInicialElements" />
            <!--
                    <xsd:element ref="AgrupamentoHierarquico"/>
                     -->
            <xsd:element name="Parte" type="ParteEmAlteracaoType" />
            <xsd:element name="Livro" type="LivroEmAlteracaoType" />
            <xsd:element name="Titulo" type="TituloEmAlteracaoType" />
            <xsd:element name="Capitulo" type="CapituloEmAlteracaoType" />
            <xsd:element name="Secao" type="SecaoEmAlteracaoType" />
            <xsd:element name="Subsecao" type="SubsecaoEmAlteracaoType" />
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element name="Paragrafo" type="ParagrafoEmAlteracaoType" />
            <xsd:element name="Inciso" type="IncisoEmAlteracaoType" />
            <xsd:element name="Alinea" type="AlineaEmAlteracaoType" />
            <xsd:element name="Item" type="ItemEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:redefine>
  <xsd:simpleType name="idAgregador">
    <xsd:annotation>
      <xsd:documentation>A regras abaixo tratam dos IDs de dispositivos no nível de artigo para cima.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:ID">
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?(prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?((prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(liv|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?(((prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(liv|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(tit|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?((((prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(liv|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(tit|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(cap|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?(((((prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(liv|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(tit|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(cap|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(sec|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
      <xsd:pattern value="(art(\d+(-[0-9]{1,3}){0,3}|1u)(_cpt|(_(par|dpg)(\d+(-[0-9]{1,3}){0,3}|1u)))(_inc\d+(-[0-9]{1,3}){0,3})?_alt\d+_)?(((((prt|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(liv|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(tit|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(cap|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_)?(sec|agh)(\d+(-[0-9]{1,3}){0,3}|1u)_(sub|agh)(\d+(-[0-9]{1,3}){0,3}|1u)"></xsd:pattern>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:annotation>
    <xsd:documentation>===================================================================== Elements for hierarchical documents =====================================================================</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PenaEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="PenaType">
        <xsd:attributeGroup ref="attrsCitacao" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="hierarchyEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchy">
        <xsd:attributeGroup ref="attrsCitacao" />
        <xsd:attributeGroup ref="linkopt" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DispositivoEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoType">
        <xsd:attributeGroup ref="attrsCitacao" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Parte" substitutionGroup="_Parte">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Livro" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ParteEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Livro" type="LivroEmAlteracaoType" />
            <xsd:element ref="Omissis" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Livro" substitutionGroup="_Livro">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Titulo" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LivroEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Titulo" type="TituloEmAlteracaoType"/>
            <xsd:element ref="Omissis" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Titulo" substitutionGroup="_Titulo">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Capitulo" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TituloEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Capitulo" type="CapituloEmAlteracaoType"/>
            <xsd:element ref="Omissis" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Capitulo" substitutionGroup="_Capitulo">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Secao" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CapituloEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Secao" type="SecaoEmAlteracaoType"/>
            <xsd:element ref="Omissis" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Secao" substitutionGroup="_Secao">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Subsecao" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SecaoEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Subsecao" type="SubsecaoEmAlteracaoType"/>
            <xsd:element ref="Omissis" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Subsecao" substitutionGroup="_Subsecao">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="hierarchy">
          <xsd:sequence>
            <xsd:element ref="Artigo" minOccurs="0" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubsecaoEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="hierarchyEmAlteracaoType">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element name="Artigo" type="ArtigoEmAlteracaoType" />
          <xsd:element ref="Omissis" />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArticleType">
    <xsd:sequence>
      <xsd:element ref="TituloDispositivo" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="Rotulo" minOccurs="1" maxOccurs="1" />
      <xsd:choice>
        <xsd:sequence>
          <xsd:element ref="Caput" minOccurs="1" maxOccurs="1" />
          <xsd:element ref="Paragrafo" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:element ref="DispositivoGenerico" minOccurs="0" maxOccurs="unbounded" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="corereqArt" />
    <xsd:attributeGroup ref="linkopt" />
  </xsd:complexType>
  <xsd:element name="Artigo" type="ArticleType" substitutionGroup="_Artigo" />
  <xsd:complexType name="ArtigoEmAlteracaoType">
    <xsd:sequence>
      <xsd:element ref="TituloDispositivo" minOccurs="0" maxOccurs="1" />
      <xsd:element ref="Rotulo" minOccurs="1" maxOccurs="1" />
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="Caput" type="CaputEmAlteracaoType" />
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Paragrafo" type="ParagrafoEmAlteracaoType" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Omissis" minOccurs="0" maxOccurs="unbounded" />
          </xsd:choice>
        </xsd:sequence>
        <xsd:element ref="DispositivoGenerico" minOccurs="0" maxOccurs="unbounded" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="corereqArt" />
    <xsd:attributeGroup ref="linkopt" />
    <xsd:attributeGroup ref="attrsCitacao" />
  </xsd:complexType>
  <xsd:element name="Caput" substitutionGroup="_Caput">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="Inciso" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Pena" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CaputEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Inciso" type="IncisoEmAlteracaoType" />
            <xsd:element name="Alinea" type="AlineaEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:element name="Pena" type="PenaEmAlteracaoType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Inciso" substitutionGroup="_Inciso">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="Alinea" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Pena" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="IncisoEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Alinea" type="AlineaEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:element name="Pena" type="PenaEmAlteracaoType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Alinea" substitutionGroup="_Alinea">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="Item" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Pena" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AlineaEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Item" type="ItemEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:element name="Pena" type="PenaEmAlteracaoType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Paragrafo" substitutionGroup="_Paragrafo">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="Inciso" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="Pena" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ParagrafoEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoEmAlteracaoType">
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Inciso" type="IncisoEmAlteracaoType" />
            <xsd:element name="Alinea" type="AlineaEmAlteracaoType" />
            <xsd:element ref="Omissis" />
          </xsd:choice>
          <xsd:element name="Pena" type="PenaEmAlteracaoType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Item" substitutionGroup="_Item">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DispositivoType">
          <xsd:sequence>
            <xsd:element ref="Pena" minOccurs="0" maxOccurs="1" />
          </xsd:sequence>
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ItemEmAlteracaoType">
    <xsd:complexContent>
      <xsd:extension base="DispositivoEmAlteracaoType">
        <xsd:sequence>
          <xsd:element name="Pena" type="PenaEmAlteracaoType" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:annotation>
    <xsd:documentation>===================================================================== End of Schema =====================================================================</xsd:documentation>
  </xsd:annotation>
</xsd:schema>
